<footer class="footer-07">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="/" class="logo">DIGITAL NEWSPAPER</a></h2>
                <div class="menu-footer">
                    <a href="#"><img src="/media/Bang.jpg" alt=""><p class="name-member">Ngô Hải Bằng</p></a>
                    <a href="#"><img src="/media/Tran.jpg" alt=""><p class="name-member">Nguyễn Hà Nam Trân</p></a>
                    <a href="#"><img src="/media/Tri.jpg" alt=""><p class="name-member">Ngô Thanh Trí</p></a>
                    <a href="#"><img src="/media/Phat.jpg" alt=""><p class="name-member">Nguyễn Tiến Phát</p></a>
                    <a href="#"><img src="https://via.placeholder.com/150" alt=""><p class="name-member">Hoàng Túy Minh</p></a>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
              Project Website 
              <script>document.write(new Date().getFullYear());</script>
            </div>
        </div>
    </div>
</footer>