<div class="box-item">
    <div class="list-news">
        <div class="news-item">
          <img src="https://gamelade.vn/wp-content/uploads/2024/11/ss_1c4e9037c075ed4f45801f4ab7c4e04d25d12b38.1920x1080.jpg" alt="News Image">
          <div class="news-title">Tiêu đề Bài Báo 1</div>
          <div class="news-date">16/11/2024</div>
          <div class="news-category">Category</div>
        </div>
        <div class="news-item">
          <img src="https://via.placeholder.com/150" alt="News Image">
          <div class="news-title">Tiêu đề Bài Báo 2</div>
          <div class="news-date">Mô tả ngắn cho bài báo 2.</div>
          <div class="news-category">Category</div>
        </div>
        <div class="news-item">
          <img src="https://via.placeholder.com/150" alt="News Image">
          <div class="news-title">Tiêu đề Bài Báo 3</div>
          <div class="news-date">Mô tả ngắn cho bài báo 3.</div>
          <div class="news-category">Category</div>
        </div>
        <div class="news-item">
          <img src="https://via.placeholder.com/150" alt="News Image">
          <div class="news-title">Tiêu đề Bài Báo 5</div>
          <div class="news-date">Mô tả ngắn cho bài báo 5.</div>
          <div class="news-category">Category</div>
        </div>
        <div class="news-item">
            <img src="https://via.placeholder.com/150" alt="News Image">
            <div class="news-title">Tiêu đề Bài Báo 6</div>
            <div class="news-date">Mô tả ngắn cho bài báo 6.</div>
          </div>
          <div class="news-item">
            <img src="https://via.placeholder.com/150" alt="News Image">
            <div class="news-title">Tiêu đề Bài Báo 7</div>
            <div class="news-date">Mô tả ngắn cho bài báo 7.</div>
          </div>
          <div class="news-item">
            <img src="https://via.placeholder.com/150" alt="News Image">
            <div class="news-title">Tiêu đề Bài Báo 8</div>
            <div class="news-date">Mô tả ngắn cho bài báo 9.</div>
          </div>
          <div class="news-item">
            <img src="https://via.placeholder.com/150" alt="News Image">
            <div class="news-title">Tiêu đề Bài Báo 4</div>
            <div class="news-date">Mô tả ngắn cho bài báo 4.</div>
        </div>
        <div class="news-item">
            <img src="https://via.placeholder.com/150" alt="News Image">
            <div class="news-title">Tiêu đề Bài Báo 4</div>
            <div class="news-date">Mô tả ngắn cho bài báo 4.</div>
        </div>
    </div>
</div>
<div class="list-page">
    <i class='bx bxs-chevrons-left' id="prev-btn"></i>  <div class="list-number">
      </div>
    <i class='bx bxs-chevrons-right' id="next-btn"></i>  </div>
</div>