<div class="d-flex justify-content-start gap-3">
    <a class="btn btn-primary text-black d-flex align-items-center" href="/editor/drafts" style="background-color: #FAEBD7;">
        Xem danh sách
    </a>
</div>