.post-image {
    position: relative;
    display: flex;
    padding: 20px;
}

.post-image p {
    display: flex;
    justify-content: center;
}

.post-image p img{
    display: flex;
    position: relative;
    width: 90%;
}

.post-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.post-content p {
    display: flex;
    justify-content: center;
}

.post-content p img {
    display: flex;
    position: relative;
    width: 80%;
}

.card p {
    display: flex;
    width: 100%;
    position: relative;
    height:300px;
}

.card p img {
    display: flex;
    width: 100%;
    height: 100%;
}