.post-image {
    position: relative;
    display: flex;
    padding: 20px;
}

.post-image p {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    margin: 0;
}

.view-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-box  span {
    margin-right: 15px;
}

.post-image p img{
    display: flex;
    position: relative;
    width: 100%;
    object-fit: cover;
}

.post-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.post-content p img {
    display: flex;
    position: relative;
    object-fit: cover;
    width: 100%;
}

.card p {
    display: flex;
    width: 100%;
    position: relative;
    height:300px;
}

.card p img {
    display: flex;
    width: 100%;
    height: 100%;
}

.ql-video {
    width: 85%;
    height: 500px;
    align-self: center;
}