body {
    font-family: "Poppins", serif;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    display: flex;
}
header {
  position: relative;
  display: block;
}
.web-title {
  font-family: "Noto Serif", serif;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
}
.web-title h2 {
  font-size: 45px;
  font-weight: bold;
  background: #fff;
}
.header-container {
  position: relative;
  background: #ffffff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0px 10px 50px #ccc;
  flex-wrap: nowrap;
}

.scroll_box {
  width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative;
  justify-content: flex-start;
  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  margin-bottom: 5px;
  overflow-x: auto; 
  overflow-y: hidden;
  scroll-behavior: smooth; 
  user-select: none;
  cursor: pointer;
}


.scroll_box::-webkit-scrollbar {
  display: none;  
}

.scroll_box::-webkit-scrollbar-thumb {
  display: none;
}


.list_category {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  height: auto;
  justify-content: flex-start;
}

.list_category .category {
  display: flex;
  width: 300px;
  padding: 5px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border: 2px solid #333;
  text-decoration: none;
}

.list-nav {
  position: relative;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.login {
    margin-right: 10px;
    display: inline-block;
}
.login i {
    font-size: 50px;
    color: #333;
    cursor: pointer;
}
.home {
  display: inline-block;
}
.home i {
  font-size: 50px;
  color: #333;
  cursor: pointer;
}