body {
    font-family: "Poppins", serif;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
header {
  position: static;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.web-title {
  font-family: "Walter Turncoat", cursive;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
  z-index: 3;
}
.web-title h2 {
  font-size: 50px;
  font-weight: bold;
  background: #fff;
  position: static;
  width: 100%;
  text-align: center;
  z-index: 3;
  transition: .2s;
}
.header-container {
  position: relative;
  background: #ffffff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0px 10px 50px #ccc;
  flex-wrap: nowrap;
}

.scroll_box {
  width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative;
  justify-content: flex-start;
  z-index: 1000;
  flex-direction: column;
  user-select: none;
}

.list_category {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  height: auto;
  justify-content: flex-start;
  width: 100%;
  user-select: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  margin-left: 5px;
}

.list_category::-webkit-scrollbar {
  display: none;
}

.list_category .category {
  display: flex;
  width: 300px;
  margin-left: 10px;
  text-align: center;
  align-self: center;
  justify-content: center;  
  margin-top: 15px;
  text-decoration: none;
  user-select: none;
}

.list_category span {
  width: 1px;
  background-color: #999;
  justify-content: center;
  align-content: center;
  height: 70%;
  margin-left: 8px;
  margin-top: 15px;
  align-self: center;
}

.category a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  width: 100%;
  height: 100%;
  font-weight: bold;
  white-space: nowrap;
  border-top: 5px solid #555;
  border-bottom: 5px solid #555;
  transition: .3s linear;
  user-select: none;
}

.category a:hover {
  background-color: #eee;
  text-decoration: underline;
}

.category-dropdown {
  display: none; 
  margin-top: 10px;
  width: 100%;
  position: relative;
  z-index: 1000;
  background-color: #fff;
  padding: 5px;
  height: 60vh;
  justify-content: center;
}

.category-dropdown.show {
  display: block;
}

.nav-bar {
  flex-direction: row;
  display: flex;
}

.dropdown-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 45px 0;
  margin: 0;
  user-select: none;
  overflow-y: scroll;
  position: relative;
  height: 45vh;
}

.category-dropdown h4 {
  border-bottom: 1px solid #333;
  text-align: center;
}

.category-dropdown p {
  text-align: center;
}

.dropdown-list::-webkit-scrollbar {
  background-color: #fff;
  width: 6px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
  height: 1px;
  width: 1px;
}

.dropdown-list::-webkit-scrollbar-track {
  width: 5px;
  height: 5px;
}

.category-item {
  width: calc(25% - 10px); 
  padding: 5px;
  text-align: center;
}

.category-item a {
  font-weight: bold;
  white-space: nowrap;
  font-size: 19px;
}

.category-item a:hover {
  text-decoration: underline;
}

.main-category {
  width: calc(20% - 10px); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.main-category .sub-categories {
  margin-top: 10px;
  flex-direction: column;
  display: flex;
  color: #000;
  text-decoration: none;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: center;
}

.main-category .sub-categories::-webkit-scrollbar {
  display: none;
}

.main-category .sub-categories li{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-content: center;
}

.category-item a {
  text-decoration: none;
  color: #333;
}

.view-more-btn {
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.sub-categories li a {
  text-decoration: none;
  justify-content: center;
  color: #000;
  display: flex;
  text-align: center;
}

.sub-categories li a:hover {
  text-decoration: underline;
}

.toggle {
  font-size: 45px;
  color: #333;
  align-self: center;
  padding: 0 5px;
  cursor: pointer;
  margin-right: 20px;
}

.toggle:hover {
  color: #000;
}

.list-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
  flex-direction: row;
  text-decoration: none;
}

.login {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.login i {
    font-size: 50px;
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
.home {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.home i {
  font-size: 50px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.fixed-nav {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

/* event */

.event {
  height: 120px;
  width: 100%;
  display: flex;
  width: 100%;
  border-top: 3px dashed #ccc;
  border-bottom: 3px dashed #ccc;
  margin-bottom: 2px;
}

.noel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.noel .santa {
  height: 100%;
  position: absolute;
  display: flex;
  animation: slide-left 10s linear infinite;
  width: auto;
  z-index: 2;
}

.list-tree {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.list-tree .tree {
  height: 100%;
  position: relative;
  display: flex;
  background-size: contain;
  background-repeat: repeat;
  width: auto;
  z-index: 1;
}


@keyframes slide-left {
  0% {
    left: 100%; 
  }
  100% {
    left: -100%; 
  }
}