body {
    font-family: "Poppins", serif;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    display: flex;
    overflow-x: hidden;
}
header {
  position: static;
  display: block;
  overflow: hidden;
  width: 100%;
  z-index: 10;
}
.web-title {
  font-family: "Walter Turncoat", cursive;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: #fff;
  z-index: 3;
}
.web-title h2 {
  font-size: 50px;
  font-weight: bold;
  background: #fff;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 3;
}
.header-container {
  position: relative;
  background: #ffffff;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  padding: 1px;
  box-shadow: 0px 10px 50px #ccc;
  flex-wrap: nowrap;
}

.scroll_box {
  width: 100%;
  max-width: 100vw;
  display: flex;
  position: relative;
  justify-content: flex-start;
  margin-bottom: 5px;
  overflow-x: auto; 
  overflow-y: hidden;
  scroll-behavior: smooth; 
  user-select: none;
  cursor: pointer;
  z-index: 4;
}


.scroll_box::-webkit-scrollbar {
  display: none;  
}

.scroll_box::-webkit-scrollbar-thumb {
  display: none;
}


.list_category {
  display: flex;
  flex-direction: row;
  position: relative;
  text-decoration: none;
  height: auto;
  justify-content: flex-start;
}

.list_category .category {
  display: flex;
  width: 300px;
  margin-top: 15px;
  margin-left: 10px;
  text-align: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
}

.category a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.list-nav {
  position: relative;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.login {
    margin-right: 10px;
    display: inline-block;
}
.login i {
    font-size: 50px;
    color: #333;
    cursor: pointer;
}
.home {
  display: inline-block;
}
.home i {
  font-size: 50px;
  color: #333;
  cursor: pointer;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.fixed-nav {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

/* event */

.event {
  height: 200px;
  display: flex;
  width: 100%;
  border-top: 3px dashed #ccc;
  border-bottom: 3px dashed #ccc;
  margin-bottom: 2px;
}

.noel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.noel .santa {
  height: 100%;
  position: absolute;
  display: flex;
  animation: slide-left 10s linear infinite;
  width: auto;
  z-index: 2;
}

.list-tree {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.list-tree .tree {
  height: 100%;
  position: relative;
  display: flex;
  background-size: contain;
  background-repeat: repeat;
  width: auto;
  z-index: 1;
}


@keyframes slide-left {
  0% {
    left: 100%; 
  }
  100% {
    left: -100%; 
  }
}