.list-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .link-item {
    text-decoration: none;
    color: #333;
    padding: 1px;
  }

  .news-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    height: 500px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  .news-item img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }

  .news-title {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
  }

  .news-title {
    display: -webkit-box; /* Bật chế độ hiển thị theo block-level với dòng cụ thể */
    -webkit-line-clamp: 2; /* Giới hạn tối đa 2 dòng */
    -webkit-box-orient: vertical; /* Hướng nội dung theo chiều dọc */
    overflow: hidden; /* Ẩn phần nội dung vượt giới hạn */
    text-overflow: ellipsis; /* Thêm "..." vào phần bị ẩn */
    word-break: break-word; /* Ngắt từ nếu quá dài */
  }

  .news-abstract {
    font-size: 14px;
  }

  .date-cate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
  }

  .news-date {
    font-size: 14px;
    color: #555;
  }

  .news-category {
    font-size: 14px;
    color: #555;
    white-space: wrap;
  }

  .news-tags {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
  }

  .news-tags span {
    margin-left: 10px;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    border-radius: 5px;
    align-content: center;
    padding: 3px;
  }

  .news-tags p {
    align-content: center;
  }

  .list-page {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .list-page i {
    cursor: pointer;
    align-items: center;
    align-content: center;
  }
  .list-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-number li {
    text-decoration: none;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
    height: 100%;
  }

  .list-page a {
    text-decoration: none;
    text-align: center;
    display: flex;
    color: #333;
    align-items: center;
  }

  .list-number a i{
    text-decoration: none;
    text-align: center;
    display: flex;
    color: #333;
    align-items: center;
  }

  .no-posts {
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
  }

  .no-posts i {
    font-size: 170px;
    text-align: center;
  }

  .event {
    display: none;
  }

  @media (max-width: 600px) {
    .list-news {
      grid-template-columns: 1fr;
    }
  }