.list-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .link-item {
    text-decoration: none;
    color: #333;
  }

  .news-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    flex-direction: column;
  }

  .news-item img {
    width: 100%;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }

  .news-title {
    font-size: 17px;
    font-weight: bold;
    margin: 5px 0;
    text-decoration: none;
    color: #333;
  }

  .news-abstract {
    font-size: 14px;
  }

  .date-cate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0px;
  }

  .news-date {
    font-size: 14px;
    color: #555;
  }

  .news-category {
    font-size: 14px;
    color: #555;
  }

  .news-tags {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    align-items: center;
  }

  .news-tags span {
    margin-left: 10px;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    border-radius: 5px;
    align-content: center;
    padding: 3px;
  }

  .news-tags p {
    align-content: center;
  }

  .list-page {
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  .list-page i {
    cursor: pointer;
    align-items: center;
  }
  .list-number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .list-number li {
    text-decoration: none;
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
    text-align: center;
  }

  @media (max-width: 600px) {
    .list-news {
      grid-template-columns: 1fr;
    }
  }