.img {
    width: 100%;
    display: flex;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.container {
    margin-bottom: 100px;
    position: relative;
}
.login-wrap {
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 700px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-fill {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.label {
    font-size: 18px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.forget {
    display: flex;
    justify-content: flex-end;
}
.google img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.google {
    background: #fff;
    color: #000;
    border: 1px solid#000;
}