
.img {
    width: 100%;
    display: flex;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.scroll_box {
    display: none;
}
.container {
    margin-bottom: 100px;
    position: relative;
}
.login-wrap {
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 650px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-fill {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.label {
    font-size: 18px;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight: 600;
}
.forget {
    display: flex;
    justify-content: flex-end;
}
.google img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.google {
    background: #fff;
    color: #000;
    border: 1px solid#000;
}

.event {
    display: none;
}
.form-control {
    border: 2px solid #e0e0e0 !important;
    border-radius: 20px !important;
    padding: 10px 20px !important;
}

.btn-primary {
    background: linear-gradient(to right, #007bff, #6610f2);
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    transition: all 0.3s ease;
  }
  
.btn-primary:hover {
    background: linear-gradient(to right, #6610f2, #007bff);
  }