main {
    flex: 1;
    background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)) ,url("/media/main-bg.png");
    justify-content: center;
    display: flex;
}
.content {
    width: 80%;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    background-color: #fff;
    padding: 5px;
}
.search-container {
    display: flex;
    align-self: center;
    align-items: center;
    border: 1px solid #333;
    border-radius: 5px;
    flex: 1;
    overflow: hidden;
    max-width: 500px;
    height: 10%;
    width: 100%;
}
.search-container input {
    border: none;
    padding: 10px;
    flex: 1;
    outline: none;
}
.search-container i {
    padding: 10px;
    background-color: #333;
    color: white;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

.tag {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}  
.tag:hover {
    background-color: #333;
    color: #fff;
}